/* mobile response */
@media screen and (max-width: 640px){
    body{
        min-width: 640px;
    }
    #wrapper {
        position:absolute;
        left:10%;
    }
    a {
        margin-left: 10%;
    }
}

@media screen and (max-width: 786px){
    body{
        min-width: 786px;
    }
    #wrapper {
        position:absolute;
        left:20%;
    }
    a {
        margin-left: 10%;
    }
}


body {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
text-align: center;
}

li{
    background-color: rgb(146, 25, 171);
    margin-top: 10px;
    padding: 5px 10px;
    width: 80%;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

button {
    border-radius: 5px;
}

textarea {
    width: 90%;
    margin: 20px;
}

input {
    margin-bottom: 20px;
    width:50%;
    border: 1px solid rgb(164, 163, 163);
}

label {
    margin-right: 10px;
}

#wrapper {
    position:absolute;
    left: 25%;
    top: 25%;
    width: 600px;
    height: 600px;
    border: 2px solid rgb(0, 0, 0)
}

#gamestart {
    background-color: rgb(146, 25, 171);
    margin-left: 33%;
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#questionDiv {
    margin: 20px;
}

#currentTime{
    float: right;
}

#back {
    background-color: rgb(146, 25, 171);
    position:relative;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 50%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#remove {
    background-color: rgb(146, 25, 171);
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    top: 30%;
    right: 5%;
    text-align: center;
}

#Submit {
    background-color: rgb(146, 25, 171);
    margin-left: 25vw;
    padding: 5px 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#makeDiv {
    margin-top: 20px;
    border-top: 1px solid rgb(164, 163, 163);
}